# This env variable is mandatory 
# Questa variabile è obbligatoria
TMDB_KEY= "509399f163e8fd98bff6c6652b01558a"
# Those env variable are not mandatory
# Queste variabili non sono obbligatoria
PROXY = ["PROXY1","PROXY2"]
FORWARDPROXY = "YOURFORWARDPROXY/"
